/*** Video CSS section for mobil ***/

.contactus {
    background-image: url(../images/contact-bg.png);
    background-size: cover;
    background-position: center;
}

.contactus-container {
    margin: 30px;
}

p, h4 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact h4 {
    font-size: 18px;
    padding-top: 30px;
    color: #fff;
    margin: 0 0 20px 0;
}

.contact-text p{
    color: #fff;
    font-size: 13px;
    margin: 0 0 20px 0;
    
}


.phone-number p:first-child {
    font-size: 13px;
    color: #fff;
}

.phone-number p:last-child {
    font-size: 18px;
    color: #fff;
    margin: 0 0 20px 0;    
}

hr {
    width: 80px;
    background-color: #C82424;
    color: #C82424;
}

.social-contact p:first-child {
    color: #fff;
    font-size: 15px;
}

.form-header {
    font-size: 18px;
    padding-top: 30px;
    color: #fff;
    margin: 0 0 20px 0;
}

.iconcontainer {
    background-color: #fff;
    display: inline-flex;
    border: 1px solid black;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 20px 0 0 0;
}

.customicon {
    width: 10px;
    height: 10px;
    color: #C82424;
}

.inputitems {
    display: flex;
}

.inputlabel {
    background-color: #3f596c;
    border-right: 0.7px solid #8B8B8B;
    width: 40px;
    height: 45px;
    padding: 10px;
}

.iconcustom {
    color: #fff;
    height: 25px;
    width: 25px;
}

.inputfield input {
    background-color: #D9D9D9;
    height: 45px;
    width: 250px;
}

.input-textarea {
    display: flex;
    background-color: #D9D9D9;
    width: 290px;
}

.inputtext textarea {
    background-color: #D9D9D9;
    height: 150px;
    width: 250px;
    border: none;
}


.btnsubmit {
    background-color: #C82424;
    width: 140px;
    height: 38px;
    border: none;
    color: #FFF;
    font-family: Merriweather;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    margin: 0 0 30px 0;
}


/*** video CSS section for Tablet ***/

@media (min-width: 601px) and (max-width: 1020px)  {
    .form-container {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .grid1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .grid2 {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .grid3 {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .grid4 {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .grid5 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .inputtext, .input-textarea {
        width: 100%;
    }
}


/*** video CSS section for Desktop ***/
@media (min-width:1021px) {
    .contactus-container{
        display: flex;
    }

    .contact-text {
        width: 500px;
    }

    .form-container {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .grid1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .grid2 {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .grid3 {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .grid4 {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .grid5 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .inputtext, .input-textarea {
        width: 100%;
    }
}
